html {
    font-family: "IBM Plex Mono", monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}

.ui-tabs {
    font: inherit;
    background-color: inherit;
    border: none;
}

.ui-tabs .ui-tabs-nav {
    font: inherit;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui-widget.ui-widget-content {
    font: inherit;
    background-color: inherit;
    border: none;
}

.ui-dialog {
    font: inherit;
    background-color: white;
    border: none;
    box-shadow: 0 11px 30px rgba(0, 0, 0, .3);
}

#font {
    display: none;
}

#dialog {
    display: none;
}

.drop-area {
    display: none;
    border-radius: 10px;
    text-align: center;
    border: 2px dashed #ccc;
    color: #888;
    background-color: rgba(0, 0, 0, .01);
}

#big-drop-area {
    width: 600px;
    height: 400px;
    line-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#small-drop-area {
    display: block;
    width: 100%;
    height: 300px;
    line-height: 300px;
    margin-bottom: 20px;
}

.drop-area.drag {
    background-color: rgba(0, 0, 0, .05);
    border-color: #aaa;
    color: #555;
}

#welcome {
    text-align: center;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome .logo {
    font-size: 60pt;
    font-weight: 500;
}

#app {
    display: none;
    /* Use flexbox for layout */
    width: 100vw;
    /* Stretch to the full width of the viewport */
    height: 100vh;
    /* Stretch to the full height of the viewport */
}

#app #left {
    width: 20%;
    /* Left section takes 20% of the width */
    background-color: #f0f0f0;
    /* Optional: Add a background color for clarity */
    padding: 15px;
}

#app #center {
    width: 60%;
    /* Center section takes 60% of the width */
    background-color: #ffffff;
    /* Optional: Add a background color for clarity */
}

#app #right {
    width: 20%;
    /* Right section takes 20% of the width */
    background-color: #f0f0f0;
    /* Optional: Add a background color for clarity */
    padding: 15px;
}

.font-list ul {
    list-style-type: none;
    padding: 0;
}

.font-list ul li {
    margin-bottom: 10px;
}